p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 32px;
}
a {
    font-family: Arial;
}
button {
    margin-top: 0;
    margin-bottom: 32px;
}

.shop-link {
    cursor: pointer;
    margin-left: 8px;
}
.shop-link:hover {
    text-decoration: underline;
}

.video-title {
    font-size: 18px;
    font-weight: bold;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
}
.video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.subscribe-button {
    background-color: red;
    color: white;
    padding: 20px;
}
.subscribe-button:hover {
    box-shadow: horizontal vertical blur color;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.join-button {
    background-color: white;
    color: rgb(41, 118, 211);
    border: 1px solid rgb(41, 118, 211);
    padding: 20px;
}
.join-button:hover {
    box-shadow: horizontal vertical blur color;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.thumbnail {
    width: 300px;
    height: auto;
}

.search-bar {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    display: block;
}
